name: .NET CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Instalar .NET SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Restaurar dependências
      run: dotnet restore ContactManagement/ContactManagement/ContactManagement/ContactManagement.sln

    - name: Rodar testes (unitários + integração)
      run: dotnet test ContactManagement/ContactManagement/ContactManagement/ContactManagement.sln --no-build --verbosity normal

